[Unit]
Description=EventStore - Distributed event sourcing
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10
ExecStartPre=/bin/sh -c "docker history haaf/eventstore >/dev/null || docker pull haaf/eventstore"

# data (ensure, never remove)
ExecStartPre=/bin/sh -c "docker inspect eventstore-data >/dev/null || docker run --detach --name eventstore-data -v /var/lib/eventstore --entrypoint "/bin/bash" haaf/eventstore -c true"

# es (ensure, remove existing)
ExecStartPre=/bin/sh -c "docker inspect eventstore >/dev/null && docker rm -f eventstore || true"
ExecStart=/bin/sh -c '/usr/bin/docker start -a eventstore || docker run --name eventstore --detach -p 1112 -p 1113 -p 2112 -p 2113 -e SERVICE_NAME=eventstore --volumes-from eventstore-data haaf/eventstore'
ExecStopPost=-/usr/bin/docker rm -f eventstore
Restart=always
RestartSec=5

[X-Fleet]
Global=true