<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      autoReload="true">
  <variable name="ConsoleLayout" value="[${processid:padCharacter=0:padding=5},${threadid:padCharacter=0:padding=2},${date:universalTime=true:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURRED:${newline}${exception:format=message}}"/>
  <variable name="LogFileNameBase" value="${logsdir}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}"/>
  <targets async="true">
    <target name="plainConsoleLog" xsi:type="Console" layout="${ConsoleLayout}"/>
    <target name="statsFileLog" xsi:type="File" fileName="${LogFileNameBase}-stats.csv" layout="${message}"/>
  </targets>

  <rules>
    <logger name="REGULAR-STATS-LOGGER" minlevel="Trace" writeTo="statsFileLog" final="true" />
    <logger name="*" minlevel="Info" writeTo="plainConsoleLog" />
  </rules>
</nlog>